<div class="row">
  <div class="col">
    <h2>สินค้าที่เลือก</h2>
    <table class="table">
      <tbody>
        <tr>
          <td>รหัสสินค้า</td>
          <td>{{selectedProduct.pId}}</td>
        </tr>
        <tr>
          <td>ชื่อสินค้า</td>
          <td>{{selectedProduct.pName}}</td>
        </tr>
        <tr>
          <td>ราคาสินค้า</td>
          <td>{{selectedProduct.pCost}}</td>
        </tr>
        <tr>
          <td>จำนวนที่ต้องการ</td>
          <td>
            <input class="form-control" name="qty" [(ngModel)]="selectedProduct.qty">
          </td>
        </tr>
        <tr>
            <button *ngIf="selectedProduct.qty" class="btn btn-info" (click)="pushProduct()">หยิบใส่ตะกร้า</button>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <app-product-cart [addproduct]="xxx"></app-product-cart>
  </div>
</div>